.tracker {
    width: 100%;
    min-height: 300px;
    padding: 3rem;
    display: flex;

    &__container {
        background-color: rgba(0,0,0,0.6);
        min-height: 280px;
        padding: 3rem;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    &__note {
        color: white;
        font-size: 2rem;
        margin: 1rem;
    }

    &__CTA {
        width: 20%;
        background-color: rgba(92, 19, 19, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-left: 2px solid white;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--label {
            color: white;
            padding: 5px 0;
            align-self: flex-start;
        }

        &--input {
            margin-bottom: 10px;
            font-size: 1.2rem;
            border-radius: 4px;
        }
    }

    &__play {
        background-color: rgb(13, 93, 177);
        color: white;
        width: 150px;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        font-size: 1.2rem;
    }

    &__save {
        @extend .tracker__play;
        width: 150px;
    }
}