
.home {
    position: relative;
    background-image: url('../../assets/images/backgroundBars.svg');
    height: 100vh;
    background-size: 100%;

    &__background {

        &--image {
            position: absolute;
            object-fit: contain;
            width: 100%;
            z-index: -5;
            opacity: 0.9;
        }
    }

    &__player {
        padding-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }


}