
.saved {
    position: relative;

    &__background {

        &--image {
            position: absolute;
            object-fit: contain;
            width: 100%;
            z-index: -5;
            opacity: 0.9;
        }
    }
}